:root {
  --max-width: 1600px;
  --lightest-green: #efffe2;
  --lighter-green: #c4e7a8;
  --green: #98bf7b;
  --dark-green: #335618;
  --gold: #fce079;
  --text-color: #444;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #c4e7a8;
  stroke: transparent;
}

body {
  margin: 0;
  font-family: "Questrial", sans-serif;
  color: var(--text-color);
  line-height: 1.5rem;
}

a {
  color: var(--dark-green);
  box-shadow: inset 0 -5px 0 var(--lighter-green);
  text-decoration: none;
}

a:hover {
  box-shadow: inset 0 -5px 0 var(--green);
}

figure {
  margin: 0;
}

img {
  display: block;
  margin: 0 auto;
}

text {
  fill: var(--text-color);
}

h1 {
  font-size: 2.3rem;
  margin: 1rem 0 1rem;
}

button {
  outline-width: 0;
}

li {
  margin-bottom: 1rem;
}

.candidate {
  font-size: 1.6rem;
  font-weight: bold;
}

.tier-label {
  font-size: 1.2rem;
}

.money-totals {
  font-size: 1.2rem;
  font-weight: bold;
}

.no-scrollbar {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

blockquote:before {
  z-index: 4;
  content: "\201C";
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  position: absolute;
  left: -40px;
  top: 5px;
}

blockquote:after {
  z-index: 4;
  content: "";
}

svg {
  position: absolute;
  transform: translateX(-50%) scale(2.75);
  left: 50%;
}

svg.downscale {
  transform: translateX(-50%) scale(1);
  transition: all 700ms ease-in-out;
}

svg.left-side {
  left: 3%;
  transform: translate(0);
}

@media (max-height: 450px) {
  :root {
    font-size: 12px;
  }
  .candidate {
    font-size: 16px;
  }
  .tier-label,
  .money-totals {
    font-size: 1rem;
  }
}
