:root {
  --max-width: 1600px;
  --lightest-green: #efffe2;
  --lighter-green: #c4e7a8;
  --dark-green: #335618;
  --text-color: #444;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Questrial", sans-serif;
  color: var(--text-color);
  line-height: 1.5rem;
}

::selection {
  background: #93aa78;
  color: #fff;
  stroke: transparent;
  fill: #fff;
}

text {
  fill: var(--text-color);
}

h1 {
  font-size: 2.3rem;
  margin: 1rem 0 1rem;
}

button {
  outline-width: 0;
}

.button {
  min-width: 130px;
  padding: 4px 5px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #e0e0e0;
  text-decoration: none;
}

.button.active {
  background: #000;
  color: #fff;
}

.candidate {
  font-size: 1.6rem;
  font-weight: bold;
}

.tier-label {
  font-size: 1rem;
}

.tier-label:last-of-type {
  font-weight: bold;
}

/* .modal-appear {
  opacity: 0;
}

.modal-appear.modal-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.modal-enter {
  opacity: 0.01;
}

.modal-enter.modal-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.modal-leave {
  opacity: 1;
}

.modal-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
} */

.no-scrollbar {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

blockquote:before {
  z-index: 4;
  content: "\201C";
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  position: absolute;
  left: -40px;
  top: 5px;
}

blockquote:after {
  z-index: 4;
  content: "";
}

svg {
  position: absolute;
  transform: translateX(-50%) scale(3);
  left: 50%;
}

svg.downscale {
  transform: translateX(-50%) scale(1);
  transition: all 1500ms ease-in-out;
}

svg.left-side {
  left: 3%;
  transform: translate(0);
}

@media (max-height: 450px) {
  html {
    font-size: 12px;
  }
  .candidate {
    font-size: 16px;
  }
}

/* 
.tooltip {
  position: absolute;
  top: 100px;
  left: 100px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #888;
  background: #fff;
  opacity: 0.9;
  color: black;
  padding: 10px;
  width: 200px;
  font-size: 12px;
  z-index: 10;
}

.tooltip .title {
  font-size: 13px;
}

.tooltip .name {
  font-weight: bold;
} */
