html {
}

.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.grid {
  display: inline-grid;
  grid-auto-rows: content;
  grid-template-columns: repeat(3, max-content);
  margin: 0 auto;
  grid-gap: 1px;
  background: #c1c1c1;
  padding: 1px;
}

.candidate-wrapper {
  margin: 10px 40px;
}

.cell {
  padding: 5px 20px;
  text-align: right;
  background: #fff;
}
